.header-outer {
    background: #000000;
    display: flex;
    justify-content: center;
    color: white;
    padding: 0.7rem;
}

.header-inner {
    flex-basis: 98%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header-inner .left {
    display: flex;
    gap: 1rem;
}
