.microsites-page-inner {
    padding: 2rem;
}
.microsites-page-inner h1 {
    font-size: xx-large;
}

.box-container {
    display: flex;
    flex-wrap: wrap;
}
.box {
    flex-basis: 30%;
    border: 1px solid black;
    margin: 1rem;
    height: 10rem;
    text-align: center;
    padding-top: 4rem;
}
