.login-outer {
    width: 100%;
    margin: 15rem auto;
    display: flex;
    justify-content: center;
}
.login-inner {
    flex-basis: 20%;
    background: #ffffff;
    padding: 3rem 2rem;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
form {
    width: 100%;
    display: flex;
    flex-direction: column;
}
.form-heading {
    font-size: 25px;
    font-weight: 300;
    margin-bottom: 2rem;
}
#email,
#password,
#firstname,
#lastname,
#rePassword {
    background: #f5f6f7;
    padding: 0.6rem;
    margin-bottom: 0.9rem;
    border-radius: 5px;
}
form button {
    background: #4798ff;
    color: white;
    padding: 1rem;
    border-radius: 5px;
}
form .error {
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 0;
    color: red;
}
.signIn-signUp {
    margin-top: 2rem;
    display: flex;
    gap: 0.5rem;
    justify-content: center;
}
.signIn-signUp p {
    cursor: pointer;
}
.signIn-signUp p:hover {
    text-decoration: underline;
    color: blue;
}
.google-button {
    cursor: pointer;
    width: 95%;
    display: flex;
    gap: 3rem;
    padding: 0.6rem;
    align-items: center;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.24);
    border-radius: 20px;
    color: #757575;
    font-weight: 600;
}
.google-button img {
    height: 18px;
    width: 18px;
}
