.module-container-outer {
    flex-basis: 70%;
    background: #f4eae0;
    min-height: 92.5vh;
    border-right: 1px solid black;
}
.module-header-outer {
    background: #f4dfc8;
    display: flex;
    justify-content: center;
    padding: 0.7rem 0;
}
.module-header-inner {
    flex-basis: 97%;
}
.module-content {
    display: flex;
    justify-content: center;
    overflow: scroll;
    height: 88vh;
    flex-basis: calc(100% - 13rem);
}
.design-container {
    /* transform-origin: top left; */
    /* transform: scale(1); */
    margin: 3rem 0;
    width: 70%;
}
