.container-outer {
    display: flex;
    justify-content: center;
}
.container-inner {
    border: 1px solid black;
    margin-top: 5rem;
    max-width: 70%;
}
.header-outer {
    color: white;
    min-height: 3rem;
    background: #041e42;
    display: flex;
    justify-content: center;
}
.header-inner {
    display: flex;
    justify-content: space-between;
}
.header-inner .right {
    color: #cba052;
}
.header-inner .left,
.header-inner .right {
    display: flex;
    gap: 1rem;
}
.left .company-logo img {
    height: 35px;
    width: 100px;
}
.company-banner {
    width: 100%;
    max-height: 12rem;
    overflow: hidden;
}
.community-content {
    flex-basis: 50%;
    color: white;
    background: #041e42;
    padding: 2rem 3rem;
}
.community-content .content-heading {
    font-size: 2rem;
    font-weight: 550;
    color: #f65275;
    margin-bottom: 1rem;
}
.community-form {
    width: 100%;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    gap: 0.7rem;
}
.user-policy {
    margin-top: 1rem;
    font-size: 12px;
    font-weight: 500;
}
