body,
html {
    height: 100%;
    margin: 0;
}
.app-wrap {
    height: 100%;
    width: 100%;
    display: flex;
}
.editor-wrap {
    width: 100%;
    height: 100%;
}
.pages-wrp,
.pages {
    display: flex;
    flex-direction: column;
}
.pages-wrp {
    background: #333;
    padding: 5px;
}
.add-page {
    background: #444444;
    color: white;
    padding: 5px;
    border-radius: 2px;
    cursor: pointer;
    white-space: nowrap;
    margin-bottom: 10px;
}
.page {
    background-color: #444;
    color: white;
    padding: 5px;
    margin-bottom: 5px;
    border-radius: 2px;
    cursor: pointer;

    &.selected {
        background-color: #706f6f;
    }
}
.page-close {
    opacity: 0.5;
    float: right;
    background-color: #2c2c2c;
    height: 20px;
    display: inline-block;
    width: 17px;
    text-align: center;
    border-radius: 3px;

    &:hover {
        opacity: 1;
    }
}
